
<%@ page import="br.edu.unirn.tickit.dominio.Chamado" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'chamado.label', default: 'Chamado')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-chamado" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-chamado" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="titulo" title="${message(code: 'chamado.titulo.label', default: 'Titulo')}" />
					
						<g:sortableColumn property="descricao" title="${message(code: 'chamado.descricao.label', default: 'Descricao')}" />
					
						<g:sortableColumn property="emailSolicitante" title="${message(code: 'chamado.emailSolicitante.label', default: 'Email Solicitante')}" />
					
						<th><g:message code="chamado.setorSolicitante.label" default="Setor Solicitante" /></th>
					
						<th><g:message code="chamado.areaAtendimento.label" default="Area Atendimento" /></th>
					
						<th><g:message code="chamado.usuarioCadastrante.label" default="Usuario Cadastrante" /></th>
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${chamadoInstanceList}" status="i" var="chamadoInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${chamadoInstance.id}">${fieldValue(bean: chamadoInstance, field: "titulo")}</g:link></td>
					
						<td>${fieldValue(bean: chamadoInstance, field: "descricao")}</td>
					
						<td>${fieldValue(bean: chamadoInstance, field: "emailSolicitante")}</td>
					
						<td>${fieldValue(bean: chamadoInstance, field: "setorSolicitante")}</td>
					
						<td>${fieldValue(bean: chamadoInstance, field: "areaAtendimento")}</td>
					
						<td>${fieldValue(bean: chamadoInstance, field: "usuarioCadastrante")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${chamadoInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
