
<%@ page import="br.edu.unirn.tickit.dominio.Status" %>
<!DOCTYPE html>
<html>
<head>
	<meta name="layout" content="administrativo">
	<g:set var="entityName" value="${message(code: 'status.label', default: 'Status')}" />
	<title><g:message code="default.show.label" args="[entityName]" /></title>
</head>
<body>
<section class="content-header">
	<ol class="breadcrumb">
		<li class="active">Listagem</li>
		<li class="active"><g:message code="default.show.label" args="[entityName]" /></li>
	</ol>
</section>
<section class="content">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title"><g:message code="default.show.label" args="[entityName]" /></h3>
		</div>

		<div class="box-body">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-view table-condensed">
						<thead>
							<tr>
								<th colspan="2">
									Dados do ${entityName}
								</th>
							</tr>
						</thead>
						<tbody>
							
							<g:if test="${statusInstance?.nome}">
								<tr>
									<td><strong><g:message code="status.nome.label" default="Nome" />:</strong></td>
									
									<td><g:fieldValue bean="${statusInstance}" field="nome"/></td>
									
								</tr>
							</g:if>
							
							<g:if test="${statusInstance?.ativo}">
								<tr>
									<td><strong><g:message code="status.ativo.label" default="Ativo" />:</strong></td>
									
									<td><g:formatBoolean boolean="${statusInstance?.ativo}" /></td>
									
								</tr>
							</g:if>
							
							<g:if test="${statusInstance?.usuarioCadastrante}">
								<tr>
									<td><strong><g:message code="status.usuarioCadastrante.label" default="Usuário Cadastrante" />:</strong></td>
									
									<td><g:link controller="usuario" action="show" id="${statusInstance?.usuarioCadastrante?.id}">${statusInstance?.usuarioCadastrante?.encodeAsHTML()}</g:link></td>
									
								</tr>
							</g:if>
							
							<g:if test="${statusInstance?.dateCreated}">
								<tr>
									<td><strong><g:message code="status.dateCreated.label" default="Data de Criação" />:</strong></td>
									
									<td><g:formatDate date="${statusInstance?.dateCreated}" format="dd/MM/yyyy HH:mm"/></td>
									
								</tr>
							</g:if>
							
						</tbody>
					</table>
					<div class="box-footer clearfix">
						<g:link action="index" class="btn btn-primary pull-right"><i class="fa fa-reply"></i>Voltar</g:link>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<g:javascript>
        $(document).ready(function(){
            TICKIT.selectMenu("statusOpt");
        });
</g:javascript>
</body>
</html>
